{% extends "TisseoCoreBundle::container.html.twig" %}
{% set width = width is empty ? 10 : width %}
{% set offset = (12 - width)/2 %}

{% block main_content %}
    <div class="form-panel col-md-{{ width }} col-md-offset-{{ offset }}" role="main">
        {% block advancedConfirmation %}{% endblock %}
        <h1>{% block list_title %}{{ pageTitle|trans }}{% endblock %}</h1>
        {% block header_content %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
