{% extends "TisseoCoreBundle::container.html.twig" %}
{% set datatable = true %}

{% block main_content %}
    <div class="form-panel col-md-8 col-md-offset-2" role="main">
        {% block advancedConfirmation %}{% endblock %}
        <h1>{% block list_title %}{{ pageTitle|trans }}{% endblock %}</h1>
        {% block header_content %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
