{% extends "TisseoCoreBundle::container.html.twig" %}

{% block content %}
    <table class="table {% block table_classes %}table-hover{% endblock %}">
        <thead>
            <tr>
               {% block table_head %}{% endblock %}
            </tr>
        </thead>
        <tbody>
            {% block table_body %}{% endblock %}
        </tbody>
    </table>
    {% block list_pagination %}{% endblock %}
{% endblock %}
