/* link displayed in all nmm views (navbar) */
#application-navbar.container .navbar.navbar-default .navbar-brand a {
    font-size:1em;
}
/* general */
.bold {
    font-weight:bold;
}
/* datepicker fix chrome bug */
.datepicker,
.ui-autocomplete {
    z-index:9999 !important;
}
/* datatables plugin */
#datatable_length {
    margin-left:20px;
}
#datatable_filter {
    margin-right:20px;
}
/* modal popup rendering */
.modal-dialog-large {
    width:1000px;
}
.modal-dialog-small {
    width:600px;
}
.table-actions {
    min-width:360px;
}
/* general forms rendering */
.form {
    border-radius:5px;
    border:1px solid #ccc;
}
.form ul {
    list-style:none;
    padding-left:20px;
}
.form ul li {
    line-height:1.5em;
}
.form-show {
    padding:10px 0;
    margin:10px 0;
    display:inline-block;
    width:100%;
}
.form-edit {
    padding:10px 10px 10px 0;
    margin:10px 0;
    display:inline-block;
    width:100%;
}
.form-show .left-summary {
    width:70%;
    display:inline-block;
}
.form-show .right-summary {
    width:20%;
    float:right;
    display:inline-block;
}
.small-button {
    width:20px;
    height:20px;
    line-height:0px;
    padding:1px 5px;
}
.small-link {
    width:20px;
    height:20px;
    line-height:15px;
    padding:1px 6px;
}
.small-button span, .small-link span {
    font-size:8px;
}
.message {
    padding-left:20px;
}
/* general visual */
.line-small {
    height:30px;
    width:30px;
    line-height:32px;
    margin:3px 0;
}
.line-big {
    height:60px;
    width:60px;
    line-height:62px;
    margin:10px 0;
}
.line-free {
    height:30px;
    line-height:32px;
    margin:3px 0;
}
.line-number {
    display:inline-block;
    border-radius:3px;
    text-align:center;
    padding:0 5px;
}
.calendar-day {
    display:inline-block;
    width:10px;
    height:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.green-day {
    background-color:green;
}
.red-day {
    background-color:red;
}
.green-fg-day {
    color:green;
    font-weight:bold;
}
.red-fg-day {
    color:red;
    font-weight:bold;
}
.input-hidden {
    left:25px;
    z-index:-10;
    position:absolute;
    float:none;
    top:25px;
}
.header-ribbon {
    background-color:#343434;
    padding:5px;
    line-height:27px;
    width:100%;
    border-radius:5px;
    display:inline-block;
    color:white;
    margin:10px 0;
    cursor:pointer;
    text-decoration:none;
}
.header-ribbon:hover {
    background-color:#007E8D;
    color:white;
    text-decoration:none;
}
.panel {
    margin-bottom:20px;
}
.offset {
    color:#333333;
    font-size:0.9em;
}
.description-popup {
    display:none;
    position:absolute;
    bottom:20px;
    left:-10px;
    background-color:white;
    text-align:center;
    padding:5px;
    border-style:solid;
    border-radius:5px;
    border-color:gray;
    border-width:1px;
}
#leaflet-map-container {
    width:720px;
    height:460px;
    margin:0 auto;
    border-style:solid;
    border-width:1px;
    border-color:#939393;
}
.leaflet-stop-popup {
    font-size:medium;
    text-align:center;
    font-weight:bold;
}
.container .dataTables_wrapper .dataTables_processing {
    background-color: #FFFFFF;
    font-weight: bold;
    top:70%;
}
